@page "/simulator"
@inject HttpClient Http

@if (boardModel == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <SimulatorContainer boardModel="@boardModel" />
}

@code {
    BoardModel boardModel;

    protected override async Task OnInitializedAsync()
    {
        //boardModel = await Http.GetFromJsonAsync<BoardModel>("sample-data/board4x3.json");
        //boardModel = await Http.GetFromJsonAsync<BoardModel>("sample-data/board10x10.json");
        boardModel = await Http.GetFromJsonAsync<BoardModel>("sample-data/boardWithEverything.json");
    }
}