<Tooltip Text="@Model.ID.ToString()">
    <div class="electrode-container" style="@_electrodeCss">
        <svg>
            <rect class="electrode" width="@Model.sizeX" height="@Model.sizeY" style="fill:#2F4F4F;stroke-width:2;stroke:rgb(0,0,0)" />
        </svg>
    </div>
</Tooltip>

@code {

    [Parameter]
    public ElectrodeModel Model { get; set; }

    string _electrodeCss => $"left: {Model.positionX}px; top: {Model.positionY}px";
}