@foreach (KeyValuePair<string, string> entry in Element.GetElementInfo())
{
    <div>@entry.Key: @entry.Value</div>
}

@code {
    [CascadingParameter]
    public BaseElementModel Element { get; set; }
}
