@if (Element == null)
{
    <div class="info-div">Hover over the board to see more information.</div>
}
else
{
    foreach (KeyValuePair<string, string> entry in Element.GetElementInfo())
    {
        <div class="info-div">@entry.Key: @entry.Value</div>
    }
}

@code {
    [Parameter]
    public BaseElementModel Element { get; set; }
}
