<div class="simulator-container" width="80" height="60" @onclick="@_simulatorManager.StartSimulator">
    @if (_simulatorManager.Droplets != null)
    {
        @foreach (var droplet in _simulatorManager.Droplets)
        {
            <Droplet Model="droplet" />
        }
    }

    @if (_simulatorManager.Electrodes != null)
    {
        @foreach (var electrode in _simulatorManager.Electrodes)
        {
            <Electrode Model="electrode" />
        }
    }

    @if (_simulatorManager.Actuators != null)
    {
        @foreach (var actuator in _simulatorManager.Actuators)
        {
            <Actuator Model="actuator" />
        }
    }

    @if (_simulatorManager.Bubbles != null)
    {
        @foreach (var bubble in _simulatorManager.Bubbles)
        {
            <Bubble Model="bubble" />
        }
    }
</div>

@code {
    public SimulatorManager _simulatorManager;
    [Parameter]
    public BoardModel boardModel { get; set; }
    //private string _simulatorCss => $"width: {_simulatorManager.InformationList.First().SizeX}px; height: {_simulatorManager.InformationList.First().SizeY}px";

    protected override void OnInitialized()
    {
        //boardModel = await Http.GetFromJsonAsync<BoardModel>("sample-data/board4x3.json");
        _simulatorManager = new(boardModel);
        _simulatorManager.MainLoopCompleted += (o, e) => StateHasChanged();
    }
}