<div class="simulator-container" @onclick="_simulatorManager.StartSimulator">
    <Droplet Model="_simulatorManager.Droplet" />

    @foreach (var electrode in _simulatorManager.Electrodes)
    {
        <Electrode Model="electrode" />
    }

</div>

@code {
    public SimulatorManager _simulatorManager;
    [Parameter]
    public BoardModel boardModel { get; set; }

    protected override void OnInitialized()
    {
        //boardModel = await Http.GetFromJsonAsync<BoardModel>("sample-data/board4x3.json");
        _simulatorManager = new(boardModel);
        _simulatorManager.MainLoopCompleted += (o, e) => StateHasChanged();
    }
}